$bgcol: #232B2B;
$col1: #dc3d24;
$col2: #e3ae57;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
    box-shadow: $x-axis $y-axis $blur $color;
}

%images{
    width: 80%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

%score{
    color: $col1;
    font-size: 3em;
    padding: 0 5px;
    border: 1px solid $col2;
}

%buttons{
    display: block;
    margin-bottom: 25px;
    @include border-radius(50px); 
    border: 0;
    cursor: pointer;
    height: 45px;
    background-color: $col2;
    color: $bgcol;
    font-size: 1.5em;

    &:active{
        opacity: 0.7;
    }

    &:hover{
        border: 1px solid $col1;
    }
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}


body{
    background: $bgcol;
}

h1{
    margin-top: 50px;
    border-bottom: 2px solid $col2;
    color: #ffffff;
}

h2{
    color: $col1;
    margin-bottom: 50px;
}

.intro{
    //display: none;
    h3{
        display: block;
        margin-bottom: 25px;
        @include border-radius(50px); 
        border: 0;
        height: 45px;
        background-color: $col2;
        padding-top: 7px;
        color: $bgcol;
        font-size: 1.5em;
        width: 40%;
        margin-left: 30%;
    }

    .allbuttons{
        @extend %buttons;
        width: 50%;
        margin-left: 25%;
    }
    #play{
        background-color: $col1;
        color: $bgcol;
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 40px;;
        width: 40%;
        margin-left: 30%;

        &:hover{
            border: 1px solid $col2;
        }
    }
}

.container{
    //display: grid;
    display: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 3px;

    .buttons{

        .allbuttons{
            @extend %buttons;
            width:80%;

            &:last-of-type{
                background-color: $col1;
                color: $bgcol;
                font-weight: bold;
                letter-spacing: 2px;
                margin-top: 40px;;

                &:hover{
                    border: 1px solid $col2;
                }
            }
        }

    }

    .player{
        img{
            @extend %images;
            @include border-radius(50px);
            @include box-shadow(3px, 3px, 3px, $col2);
        } 

        #score-player{
            @extend %score;
            @include border-radius(20%);
        }
    }

    .computer{

        img{
            @extend %images;
            @include border-radius(50px); 
            @include box-shadow(3px, 3px, 3px, $col1);
        }  

        #score-computer{
            @extend %score;
            @include border-radius(20%);
        }
    }
}

.outrowin, .outrolost{
    display: none;
    h1{
        margin: 0 20% 3% 20%;
    }
    h3{
        display: block;
        margin-bottom: 25px;
        @include border-radius(50px); 
        border: 0;
        height: 45px;
        background-color: $col2;
        padding-top: 7px;
        color: $bgcol;
        font-size: 1.5em;
        width: 50%;
        margin-left: 25%;
    }

    .allbuttons{
        @extend %buttons;
        width: 60%;
        margin-left: 20%;
    }
    .no{
        background-color: $col1;
        color: $bgcol;
        font-weight: bold;
        letter-spacing: 2px;
        width: 50%;
        margin-left: 25%;

        &:hover{
            border: 1px solid $col2;
        }
    }
}

.thankyou{
    display: none;
    h1{
        color: $col2;
        border-bottom: 2px solid $col1;
        margin: 0 20% 3% 20%;
    }

    span{
        font-size: 3em;
        @extend %score;
        @include border-radius(20%);
        font-weight: bold;
    }
}

footer{
    font-size: 0.6em;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 0;
    background: $col2;
    border-top: 1px solid $col1;
}



@media (max-width: 850px){
    .container{
        width: 96%;
        .buttons{
            .allbuttons{
                font-size: 1em;
            }
        }
    }
    .outrowin, .outrolost{
        h3{
            width: auto;
            margin-left: 14%;
            margin-right: 14%;
        }
    }
}

@media (max-width: 600px){
    h1{
        font-size: 1em;
    }

    .container{
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 25px;

        .buttons{
            grid-column: span 12;

            .allbuttons{
                display: inline;
                width: 24%;
            }
        }

        .player{
            grid-column: span 6;
        }

        .computer{
            grid-column: span 6;
        }
    }

    .intro{
        h3, .allbuttons, #play{
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
        }
    }

    .outrowin, .outrolost{

        h3, .allbuttons, .no{
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
        }
    }
}

@media (max-width: 400px){
    .outrowin, .outrolost{

        h3{
            font-size: 1.2em;
            padding-top: 10px;
        }
    }
}

@media (max-width: 330px){
    .container .buttons .allbuttons {
        display: block;
        width: 100%; 
        margin: 3px 0;

        &:last-of-type{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .outrowin, .outrolost{

        h3{
            font-size: 1.1em;
            padding-top: 12px;
        }
    }
}